link(href="/libs/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
link(href="/lake.css" type="text/css" rel="stylesheet")
link(href="/index/index.css" type="text/css" rel="stylesheet")
link(href="/iconFont/iconfont.css" type="text/css" rel="stylesheet")
script(src="/lake-1.0.js")
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")