.lakeSlideView{
	width: 100%;
	height: 100%;
	background-color: transparent;
	position: absolute;
	z-index: 0;
}
.lakeSlideView span{
	position: absolute;	
	background-color: transparent;
	opacity: 0;
	width: 100%;
	height: 100%;
	color: white;
	transition:all 1s;
}
.preCanvas{
	position: absolute;
	cursor: pointer;
	top: 45%;
	right: 4%;
	transition:all 0.5s;
}
.preCanvas:hover{
	right: 2.5%;
}
.roundList{
	position: absolute;
	cursor: pointer;
	top: 90%;
	left: 6%;
}
.roundList ul{

}
.roundList li{
	width: 20px;
	height: 20px;
	background-color: white;
	list-style: none;
	border-radius: 50%;
	opacity: 0.8;
	float: left;
	margin-left: 7px;
	transform-origin:50% 50%;
	transition:all 0.2s;
	transform:scale(0.5);
}
@media screen and (max-width: 600px){
.preCanvas{
	position: absolute;
	cursor: pointer;
	top:45%; 
	right: 4%;
	transition:all 0.5s;
}
}