.lakeChartPie{
	position: absolute;
	left: 0;
	top: 0;
}
.lakeChartHistogram{
	position: absolute;
	left: 0;
	top: 0;
}
.lakeChartRing{
	position: absolute;
	left: 0;
	top: 0;
}
.lakeChartSin{
	position: absolute;
	left: 0;
	top: 0;
}
