doctype
html
	head
		meta(charset="utf-8")
		title #{title}
		link(href="/index/css/showLayout.css" type="text/css" rel="stylesheet")
		link(href="/libs/bootstrap/dist/css/bootstrap.min.css",rel="stylesheet")
		link(href="/lake.css" type="text/css" rel="stylesheet")
		
		script(src="/libs/jquery/dist/jquery.min.js")
		script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
		script(src="/index/js/showLayout.js")
	body
		div#data
			p #{divs}
		div#page
		div#output 生成Html代码
		#mask
		code#show
		script(src="/lake-1.0.js")
			

			