
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-chahao:before { content: "\e63b"; }
.icon-shanchu:before { content: "\f000a"; }
.icon-xiangshang:before { content: "\e63e"; }
.icon-xiangxia:before { content: "\e63f"; }
.icon-juxingroiceliang:before { content: "\e64c"; }
.icon-nav:before { content: "\e656"; }
.icon-huandengpian:before { content: "\e603"; }
.icon-anniu:before { content: "\e605"; }
.icon-fangdajing:before { content: "\e65c"; }
.icon-bingzhuang:before { content: "\e639"; }
.icon-tubiaozhuzhuangtu:before { content: "\f0074"; }
.icon-iocnyuanhuantu:before { content: "\e615"; }
.icon-wenben:before { content: "\e6c7"; }
.icon-icon31:before { content: "\e69c"; }
.icon-duihao:before { content: "\e62f"; }
.icon-baocun:before { content: "\e602"; }
.icon-lingcunwei:before { content: "\e6b5"; }
.icon-jiantouzuo:before { content: "\e654"; }
.icon-plus:before { content: "\e729"; }
.icon-51:before { content: "\f0089"; }
.icon-fenxiang:before { content: "\e67e"; }
.icon-gerenzhongxin:before { content: "\e60b"; }
.icon-bianji:before { content: "\e657"; }
.icon-arrow-up-copy:before { content: "\e700"; }
